<div class="face-snap-card" *ngIf="faceSnap$ | async as faceSnap" [ngClass]="{ liked: buttonText === 'Supprimer like' }">
  <h2>{{ faceSnap.title | uppercase }}</h2>
  <h3>{{ faceSnap.description }}</h3>
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
  <p>Prix : {{ faceSnap.price | currency : 'EUR'}}</p>
  <p *ngIf="faceSnap.location">Photo prise à {{ faceSnap.location }}</p>
  <p>Créé le {{ faceSnap.createdDate | date: 'd MMMM yyyy à HH:mm' }}</p>
  <p>
    <button (click)="onLike(faceSnap.id)">{{buttonText}}</button>
    <span class="likes" [ngStyle]="{ color: 'rgb(0, ' + faceSnap.likes*10 + ', 0)' }">👍 {{ faceSnap.likes }}</span>
  </p>
  <div class="links">
    <button  routerLink="/facesnaps" >Retour à la liste</button>
  </div>
</div>
