.landing-block {
  width: 400px;
  margin: 40px auto;
}

.landing-links {
  text-align: center;
  background: url('../../../assets/images/snapface.png');
  width: 400px;
  height: 60px;
  padding-top: 170px;
}

h3 { text-align: center; }
img { width: 400px; }

form button {
  display: block;
  margin: 20px auto 5px;
}

form {
  margin-top: 40px;
  padding: 20px;
  background-color: #ccc;
  border-radius: 10px;
  }
form input { width: 97%; }
label {
  margin-top: 10px;
  display: block;
  font-size: 12px;
}
